*
!.gitignore
!Thunar/
!Thunar/uca.xml
!Thunar/accels.scm
!dolphinrc
!fcitx5/
!fcitx5/config
!fcitx5/profile
!gtk-3.0/
!gtk-3.0/settings.ini
!gtk-4.0/
!gtk-4.0/settings.ini
!hypr/
!hypr/hyprland.lua
!hypr/hyprlock.conf
!kitty/
!kitty/kitty.conf
!mimeapps.list
!nvim/
!nvim/init.lua
!pavucontrol.ini
!starship.toml
!swaync/
!swaync/config.json
!swaync/style.css
!swaync/tokens/
!swaync/tokens/button-grid.css
!swaync/tokens/mpris.css
!swaync/tokens/notification.css
!swaync/tokens/slider.css
!swaync/tokens/title-dnd.css
!swaync/tokens/variables.css
!waybar/
!waybar/config.jsonc
!waybar/modules/
!waybar/modules/audio.jsonc
!waybar/modules/battery.jsonc
!waybar/modules/clock.jsonc
!waybar/modules/connections.jsonc
!waybar/modules/distro.jsonc
!waybar/modules/groups.jsonc
!waybar/modules/idle-ihibitor.jsonc
!waybar/modules/storage.jsonc
!waybar/modules/system.jsonc
!waybar/modules/tray-notif.jsonc
!waybar/modules/wallpaper.jsonc
!waybar/modules/workspace.jsonc
!waybar/style.css
!waybar/tokens/
!waybar/tokens/batt-clock.css
!waybar/tokens/colors.css
!waybar/tokens/slider.css
!waybar/tokens/state.css
!waybar/tokens/widget.css
!waybar/tokens/workspace.css
!wofi/
!wofi/style.css
